<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Weverson83\AddByLink\Api\Data\LinkInterface" type="Weverson83\AddByLink\Model\Link"/>
    <preference for="Weverson83\AddByLink\Api\Data\LinkProductInterface" type="Weverson83\AddByLink\Model\LinkProduct"/>
    <preference for="Weverson83\AddByLink\Api\LinkRepositoryInterface" type="Weverson83\AddByLink\Model\LinkRepository"/>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="addByLinkListRead" xsi:type="string">Weverson83\AddByLink\Model\Link\ReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Weverson83\AddByLink\Model\ResourceModel\Link\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">add_by_link</argument>
            <argument name="resourceModel" xsi:type="string">Weverson83\AddByLink\Model\ResourceModel\Link\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="addByLinkListDataSource" xsi:type="string">Weverson83\AddByLink\Model\ResourceModel\Link\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
