<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Weverson83\AddByLink\Api\Data\LinkInterface" type="Weverson83\AddByLink\Model\Link"/>
    <preference for="Weverson83\AddByLink\Api\Data\LinkProductInterface" type="Weverson83\AddByLink\Model\LinkProduct"/>
    <preference for="Weverson83\AddByLink\Api\LinkRepositoryInterface" type="Weverson83\AddByLink\Model\LinkRepository"/>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="add_by_link_read" xsi:type="string">Weverson83\AddByLink\Model\Link\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="add_by_link_create" xsi:type="string">Weverson83\AddByLink\Model\Link\CreateHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="add_by_link_update" xsi:type="string">Weverson83\AddByLink\Model\Link\UpdateHandler</item>
                    </item>
                    <item name="delete" xsi:type="array">
                        <item name="add_by_link_delete" xsi:type="string">Weverson83\AddByLink\Model\Link\DeleteHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
